@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

:root{
    --buttoncolor: linear-gradient(195deg, rgb(240, 103, 40), rgb(218, 38, 14));
    --buttonsize: 18pt;
    --equalsColor: rgb(23,226,23);
    --equalsGradient: linear-gradient(195deg, rgb(23, 226, 23), green);
    --acColor: linear-gradient(195deg, rgb(211, 49, 49), rgb(179, 11, 11));
    --operatorColor: linear-gradient(195deg, rgb(101, 173, 231), rgb(7, 116, 124));
    --titleTextColor: rgb(135, 233, 23);
    --displayTextColor: rgb(228, 25, 25);
    --displayTextSize: 16pt;
    --titleTextSize: 15pt;
    --instructionsTextSize: 9pt;
}

body,html{
    color:rgb(2, 1, 2);
    background-color:rgb(73, 231, 25);
    font-family: Roboto Condensed;
}

.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background: gray;
  }

  #portfolio-return{
    position:absolute;
    left:1%;
    top: 1%;
    color: white;
}
  
#whole-site-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(35deg,rgb(5, 5, 44),rgb(245, 115, 8));
}

#demo{
    position:fixed;
    left:50%;
    top:10%;
}
#all-display{
    width:98vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#display-container{
    width: 290px;
    height: 420px;
    background: linear-gradient(0deg, rgb(22, 15, 15), rgb(46, 35, 35));
    border-radius: 15px;
    border: 3px solid rgb(53, 75, 3);
    box-shadow: -6px 12px 10px 10px rgb(37, 17, 4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title-text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    height:8%;
    width:90%;
    font-size:var(--titleTextSize);
    color: var(--titleTextColor);
    text-align:center;
    
}

#display{
    height:10%;
    min-height:25px;
    width: 85%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(0, 0, 0);
    color:var(--displayTextColor);
    font-family: Orbitron;
    font-size: var(--displayTextSize);
    border-radius:5px;
    border: 2px solid rgb(79, 224, 11);
}

#display-text{
    text-align: right;
    padding-right: 9px;
}

#buttons-container{

   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 20% 20% 20% 20% 20%;
    height:65%;
    width: 84%;
    margin-bottom:3vh;
    margin-left:-0.3vw;
    grid-row-gap: 2px;
    grid-column-gap: 2px;

    grid-template-areas: 
    'clear clear divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equals'
    'zero zero decimal equals';
   
}

#clear-text-holder{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#ac{
    font-size:14pt;
    margin-bottom:0px;
    margin-top: 0px;
    
    
}
#clear-text{
    font-size: 9pt;
    margin-top: 0px;
    padding-top:0;
    
 
}

.calcbutton{
    background:var(--buttoncolor);
    font-size: var(--buttonsize);
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

#zero{
    grid-area: zero;
}

#decimal{
    grid-area: decimal;
}

#one{
    grid-area: one;
}

#two{
    grid-area:two;

}

#three{
    grid-area:three;
}
#four{
    grid-area:four;
}
#five{
    grid-area:five;
}
#six{
    grid-area:six;
}
#seven{
    grid-area:seven;
}
#eight{
    grid-area:eight;
}
#nine{
    grid-area:nine;
}
#clear{
    grid-area:clear;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:var(--acColor);
    
}
#subtract{
    grid-area:subtract;
    background:var(--operatorColor);
}
#add{
    grid-area:add;
    background:var(--operatorColor);
}
#multiply{
    grid-area:multiply;
    background:var(--operatorColor);
}
#divide{
    grid-area:divide;
    background:var(--operatorColor);
}
#equals{
    grid-area:equals;
    background:var(--equalsGradient);
}



#instructions{
    width:inherit;
    height: 11%;
    font-size:var(--instructionsTextSize);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-align: center;
    margin-top:3vh;
    position: relative;
    bottom: 0px;


}

@media screen and (max-height: 650px), screen and (max-width: 430px){

    #all-display{
        width:98vw;
        height:85vh;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
    }
    
    #display-container{
        width: 95%;
        height: 90%;
        background: linear-gradient(0deg, rgb(22, 15, 15), rgb(46, 35, 35));
        border-radius: 15px;
        border: 3px solid rgb(53, 75, 3);
        box-shadow: -6px 12px 10px 10px rgb(37, 17, 4);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

}
